body{
    margin: 0 auto;
    width: calc(min(90vw, 1200px));
    --control-height: min(33vh, 150px);
}
#container{
    height: calc(100vh - 10vmin - var(--control-height));
    padding: 5vmin;
    background-color: azure;
    display: flex;
}
#container .sortingElement{
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.0px );
    border-radius: 1200px;
    flex: 1;
    margin: 1px;
    align-self: flex-end;
}
#controls{
    height: calc(var(--control-height) - 10vmin);
    padding: 5vmin;
    overflow: auto;
}
#controls span{
    padding: 5px 15px;
}